@font-face {
  font-family: 'pearlnote';
  src: url('../fonts/pearlnote-font2/pearlnote.eot?-vcf23i');
  src: url('../fonts/pearlnote-font2/pearlnote.eot?#iefix-vcf23i') format('embedded-opentype'), url('../fonts/pearlnote-font2/pearlnote.ttf?-vcf23i') format('truetype'), url('../fonts/pearlnote-font2/pearlnote.woff?-vcf23i') format('woff'), url('../fonts/pearlnote-font2/pearlnote.svg?-vcf23i#pearlnote') format('svg');
  font-weight: normal;
  font-style: normal;
}
