@font-face {
  font-family: 'pearlnote';
  src:url('../../fonts/pearlnote-font3/pearlnote.eot?-vcf23i');
  src:url('../../fonts/pearlnote-font3/pearlnote.eot?#iefix-vcf23i') format('embedded-opentype'),
    url('../../fonts/pearlnote-font3/pearlnote.ttf?-vcf23i') format('truetype'),
    url('../../fonts/pearlnote-font3/pearlnote.woff?-vcf23i') format('woff'),
    url('../../fonts/pearlnote-font3/pearlnote.svg?-vcf23i#pearlnote') format('svg');
  font-weight: normal;
  font-style: normal;
}

#logo,
.mce-i-mind,
.mce-i-ace-pre,
.lea-icon
{
  font-family: 'pearlnote' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-markdown:before {
  content: "\e604";
}
.mce-i-mind:before {
  content: "\e602";
}
.mce-i-ace-pre:before {
  content: "\e603";
}

#logo:before {
    content: "Pearlnote";
  font-family: "Open Sans", "Microsoft YaHei", sans-serif !important;
  font-weight: 600;
    line-height: 1;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
}
#logo.icon-only:before {
    content: "P";
  font-family: "Open Sans", "Microsoft YaHei", sans-serif !important;
  font-weight: 600;
}
.lang-zh-cn {
   #logo:before {
    content: "珠玑笔记";
    font-family: "Open Sans", "Microsoft YaHei", sans-serif !important;
    font-weight: 600;
   } 
}
